@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Regular.otf);
}
body{
	padding: 0;
	margin: 0;
	font-family: Montserrat;
	background-color: #b3d4ef;
}

.logo img {
	height: 45px;
	width: 160px;
}

.mainContent {
	min-height: 300px;
	width: 100%;
	background: #b3d4ef;
	padding-top: 50px;
	padding-bottom: 50px;
}
.blogNforum, .sideBar {
	min-height: 300px;	
}
.sideBar h1 {
	font-size: 25px;
	color: #ff7361;
	padding: 15px;
	box-sizing: border-box;
	font-weight: bold;
}
.sideBarHr {
	border: 1px solid #ff7361;
	margin-top: -10px;
}
.sideBarStatBox {
	margin: 0 auto;
	min-height: 60px;
	width: 90%;
	background: #ff7361;
	margin-bottom: 10px;
}
.sideBarStatBox h3{
	font-size: 20px;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 5px;
	box-sizing: border-box;
	color: #fff;
}
.sideBarStatBox h3 i{
	margin-right: 10px;
}

.bfContent {
	height: 500px;
	width: 100%;
	margin: 0 auto; 
}
.tabsBgFixed {
	height: 450px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.tabsCustomCss li a {
	margin-top: 15px;
}

.blogPost {
	height: 150px;
	width: 100%;
	margin-top: 15px;
	transition: 0.5s;
	background: #fff;
	box-shadow: 3px 3px #abb1ba;
}
.blogPost:hover{
	transform: scale(1.01);
}
.posterInfo{
	height: 150px;
	padding-top: 7px;
	box-sizing: border-box;
}

.pIimage {
	margin: 0 auto; 
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 1px solid #000;
}
.pIimage img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid #000;
}
.posterInfo h5 {
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
}

.postContent {
	height: 150px;
}

.postContent h3{
	font-size: 20px;
	color: #2f3239;
}
.postContent p{
	font-size: 15px;
	color: #848991;
}
.postContent ul {
	margin: 0;
	padding: 0;
	margin-left: 35px;
}
.postContent ul li {
	list-style: none;
	float: left;
	margin-right: 15px;
}
.postContent ul li span{
	font-size: 15px;
}
.postContent ul li span i{
	margin-right: 5px;
}

.footer{
	height: 50px;
	width: 100%;
	background: #2f3239;
}
.footerTxt h3{
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding-top: 15px;
	box-sizing: border-box;
}

@media(max-width: 480px) {

}
