.topnav{
	min-height: 50px;
	width: 100%;
	background: #ff7361;
}
.topnavLeft, .topnavRight {
	height: 50px;
}
.topnavLeft ul {
	margin: 0;
	padding:0; 
}
.topnavLeft ul li{
	list-style: none;
	float: left;
	margin-top: 10px;
	margin-right: 15px;
}
.topnavLeft ul li a{
	font-size: 15px;
	color: #fff;
}
.topnavLeft ul li a i{
	margin-right: 5px;
}
.topnavRight ul {
	margin: 0;
	padding:0; 
}
.topnavRight ul li{
	list-style: none;
	float: right;
	margin-top: 12px;
	margin-left: 15px;
}
.topnavRight ul li a{
	font-size: 20px;
	color: #fff;
}
.topnavRight ul li a i{
	margin-right: 5px;
}

.navbar-expand-lg .navbar-nav{
	margin: 0 auto;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #ff7361;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff; /*nav item color white*/
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff7361; /*nav item color red when curser on it*/
}
.navbar-light{
 background: #000;
}
.navbar-toggler {
	background: #fff;
}

.nav-tabs {
	padding-bottom: 2px;
	box-sizing: border-box;	
	border-bottom: 2px solid #ff7361;
}
.nav-tabs .nav-link {
	background: transparent;
	border: none;
	color: #000;
	border-radius: 0px;
}
.nav-tabs .nav-link:hover li{
	background: transparent;
	border: 1px solid #000;
	color: #000;
	border-radius: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background-color: #ff7361;
	border: 1px solid #000;
	color: #fff;
	border-radius: 0px;
}

.modal {
    /*background-image: url("../picture/bg1.jpg");*/
}

.jumbotron{
    background-image: url("../picture/banner.jpg");
    background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}


