@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Regular.otf);
}
body{
	padding: 0;
	margin: 0;
	font-family: Montserrat;
  background-color: #b3d4ef;
}

.topnav{
	min-height: 50px;
	width: 100%;
	background: #ff7361;
}
.topnavLeft, .topnavRight {
	height: 50px;
}
.topnavLeft ul {
	margin: 0;
	padding:0; 
}
.topnavLeft ul li{
	list-style: none;
	float: left;
	margin-top: 12px;
	margin-right: 15px;
}
.topnavLeft ul li a{
	font-size: 15px;
	color: #fff;
}
.topnavLeft ul li a i{
	margin-right: 5px;
}
.topnavRight ul {
	margin: 0;
	padding:0; 
	margin-left: 385px;
}
.topnavRight ul li{
	list-style: none;
	float: left;
	margin-top: 12px;
	margin-left: 15px;
}
.topnavRight ul li a{
	font-size: 20px;
	color: #fff;
}
.topnavRight ul li a i{
	margin-right: 5px;
}

.logo img {
	height: 45px;
	width: 160px;
}

.navbar-expand-lg .navbar-nav{
	margin: 0 auto;
	width: 50%;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #ff7361;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: #ff7361;
}
.navbar-light{
 background: #000;
}
.navbar-toggler {
	background: #fff;
}


.banner {
	height: 400px;
	width: 100%;
	background: url(../images/banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.bannerTxt h1 {
	text-align: left;
	font-size: 30px;
	color: #000;
	margin-top: 70px;
	font-weight: bold;
}
.bannerTxt h1 span {
	font-weight: bold;
	line-height: 10px;
}
.bannerTxt p {
	text-align: left;
	font-size: 15px;
	color: #000;
	width: 30%;
	/*margin: 0 auto;*/
	margin-top: 30px;
}
.mainContent {
	min-height: 300px;
	width: 100%;
	background: #b3d4ef;
	padding-top: 50px;
	padding-bottom: 50px;
}
.blogNforum, .sideBar {
	min-height: 300px;	
}
.sideBar h1 {
	font-size: 25px;
	color: #ff7361;
	padding: 15px;
	box-sizing: border-box;
	font-weight: bold;
}
.sideBarHr {
	border: 1px solid #ff7361;
	margin-top: -10px;
}
.sideBarStatBox {
	margin: 0 auto;
	min-height: 60px;
	width: 90%;
	background: #ff7361;
	margin-bottom: 10px;
}
.sideBarStatBox h3{
	font-size: 20px;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 5px;
	box-sizing: border-box;
	color: #fff;
}
.sideBarStatBox h3 i{
	margin-right: 10px;
}



.bfContent {
	height: 500px;
	width: 100%;
	margin: 0 auto; 
}
.tabsBgFixed {
	height: 450px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.tabsCustomCss li a {
	margin-top: 15px;
}
.nav-tabs {
	padding-bottom: 2px;
	box-sizing: border-box;	
	border-bottom: 2px solid #ff7361;
}
.nav-tabs .nav-link {
	background: transparent;
	border: none;
	color: #000;
	border-radius: 0px;
}
.nav-tabs .nav-link:hover {
	background: transparent;
	border: 1px solid #000;
	color: #000;
	border-radius: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: #ff7361;
	border: 1px solid #000;
	color: #fff;
	border-radius: 0px;
}
.blogPost {
	height: 150px;
	width: 100%;
	margin-top: 15px;
	transition: 0.5s;
	background: #fff;
	box-shadow: 3px 3px #abb1ba;
}
.blogPost:hover{
	transform: scale(1.01);
}
.posterInfo{
	height: 150px;
	padding-top: 7px;
	box-sizing: border-box;
}


.pIimage {
	margin: 0 auto; 
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 1px solid #000;
}
.pIimage img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid #000;
}
.posterInfo h5 {
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
}

.postContent {
	height: 150px;
}

.postContent h3{
	font-size: 20px;
	color: #2f3239;
}
.postContent p{
	font-size: 15px;
	color: #848991;
}
.postContent ul {
	margin: 0;
	padding: 0;
	margin-left: 35px;
}
.postContent ul li {
	list-style: none;
	float: left;
	margin-right: 15px;
}
.postContent ul li span{
	font-size: 15px;
}
.postContent ul li span i{
	margin-right: 5px;
}












.footer{
	height: 50px;
	width: 100%;
	background: #2f3239;
}
.footerTxt h3{
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding-top: 15px;
	box-sizing: border-box;
}









@media(max-width: 480px) {


	.topnavLeft ul {
		margin-left: 55px;
	}
	.topnavRight ul {
		margin-left: 55px;
	}
	.logo img {
		height: 60px;
		width: 200px;
	}
	.navbar-expand-lg .navbar-nav{
		width: 100%;
	}
	.bannerTxt h1 {
		text-align: center;
		font-size: 25px;
		color: #28e2ff;
		margin-top: 70px;
	}
	.bannerTxt h1 span {
		font-weight: bold;
		line-height: 10px;
	}
	.bannerTxt p {
		text-align: center;
		font-size: 15px;
		color: #28e2ff;
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
	}



}


/*Login modal css */
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/*Login Modal CSS Ends*/


.about_btn{
	margin-right: 20px;
	background-color: #FF7361;
	border-radius: 5px;
	border: 1px solid black;
	/*color: #fff;*/
}

.join_btn{
	margin-right: 20px;
	background-color: #FF7361;
	border-radius: 5px;
	border: 1px solid black;
	/*color: #fff;*/
}



/*About page core css*/


 .paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}
.bgcolor-skyblue {
    background:#eaf0f9;
}
 
 .image-aboutus-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/556962/pexels-photo-556962.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

/************************* */
.plan {
    background: #f9f9f9;
    padding: 50px 30px;
    margin-bottom: 30px;
}
.plan-header h4 {
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.plan-header {
    font-weight: 700;
}
.plan-header span {
        color: #fe4819;
        font-size: 40px;
}
.plan li {
    padding-bottom: 15px;
}
.plan ul {
    padding-left: 0;
    margin-bottom: 15px;
    list-style: none;
}
.plan-header p {
    padding-header: 12px;
    padding-bottom: 15px;
}

.col-md-3,.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.bg-pink {
    background:#f0f0f0;
}
.bg-blue {
    background:#d6d6d6;
    color:#000;
}
 .padding35 {
    padding: 35px 0 35px;
}


/* Feature-CSS */

.icon {
    color : #fff;
    padding:15px;
    background:#323232 ;
    font-size:50px;
    border-radius:90px;
    border:10px solid #323232 ;
    
}
.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}
.feature-box:hover {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px;
}

/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 10px;
    font-weight: 600;
}
.border {
    background: #e8e8e8 ;
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    float:left;
}

/* padding-margin */
.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}


/* Carousel banner */
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
 
}
.carousel-caption {
    margin-bottom:30px;
}
.carousel-caption h1 {
    margin-bottom:15px;
    font-size:42px;
    font-weight:700px;
}
.carousel-caption p {
    margin-bottom:20px;
    font-size:16px;
    font-weight:400px;
}

/* Footer */

/* Social Icons */

.social-icons{
    
    margin: 0;
    padding: 0;
    font-size : 10px;
}

.social {
    margin:7px 7px 7px 0px;
    color:#b40028;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }
 
 /* CTA CSS */
 .cta-padding35 {
    padding: 35px 0 35px;
    background-color: #b40028;
    color:#fff;
}
/* Buttons */
.site-btn {
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid #b40028 ;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #b40028 ;
    background-color:transparent;
    transition: all .25s ease-in-out;
    margin: 10px 0px 10px 0px;
    
}
.site-btn:hover {
    background: #b40028 ;
    border: 1px solid #fff;
    font-weight:700px;
    
    
}

.askBtn{
	background: #FF7361;
}




/*post view page css*/
.panel-shadow {
    box-shadow: rgba(0, 0, 0, 0.3) 7px 7px 7px;
}
.panel-white {
  border: 1px solid #dddddd;
}
.panel-white  .panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #ddd;
}
.panel-white  .panel-footer {
  background-color: #fff;
  border-color: #ddd;
}

.post .post-heading {
  height: 95px;
  padding: 20px 15px;
}
.post .post-heading .avatar {
  width: 60px;
  height: 60px;
  display: block;
  margin-right: 15px;
}
.post .post-heading .meta .title {
  margin-bottom: 0;
}
.post .post-heading .meta .title a {
  color: black;
}
.post .post-heading .meta .title a:hover {
  color: #aaaaaa;
}
.post .post-heading .meta .time {
  margin-top: 8px;
  color: #999;
}
.post .post-image .image {
  width: 100%;
  height: auto;
}
.post .post-description {
  padding: 15px;
}
.post .post-description p {
  font-size: 14px;
}
.post .post-description .stats {
  margin-top: 20px;
}
.post .post-description .stats .stat-item {
  display: inline-block;
  margin-right: 15px;
}
.post .post-description .stats .stat-item .icon {
  margin-right: 8px;
}
.post .post-footer {
  border-top: 1px solid #ddd;
  padding: 15px;
}
.post .post-footer .input-group-addon a {
  color: #454545;
}
.post .post-footer .comments-list {
  padding: 0;
  margin-top: 20px;
  list-style-type: none;
}
.post .post-footer .comments-list .comment {
  display: block;
  width: 100%;
  margin: 20px 0;
}
.post .post-footer .comments-list .comment .avatar {
  width: 35px;
  height: 35px;
}
.post .post-footer .comments-list .comment .comment-heading {
  display: block;
  width: 100%;
}
.post .post-footer .comments-list .comment .comment-heading .user {
  font-size: 14px;
  font-weight: bold;
  display: inline;
  margin-top: 0;
  margin-right: 10px;
}
.post .post-footer .comments-list .comment .comment-heading .time {
  font-size: 12px;
  color: #aaa;
  margin-top: 0;
  display: inline;
}
.post .post-footer .comments-list .comment .comment-body {
  margin-left: 50px;
}
.post .post-footer .comments-list .comment > .comments-list {
  margin-left: 50px;
}