@font-face {
	font-family: Montserrat;
	src:url(../fonts/Montserrat-Regular.otf);
}
body{
	padding: 0;
	margin: 0;
	font-family: Montserrat;
	background-color: #b3d4ef;
}

.mainContent {
	min-height: 300px;
	width: 100%;
	background-color: #b3d4ef;
	padding-top: 50px;
	padding-bottom: 50px;
}
.blogNforum, .sideBar {
	min-height: 300px;	
}
.sideBar h1 {
	font-size: 25px;
	color: #ff7361;
	padding: 15px;
	box-sizing: border-box;
	font-weight: bold;
}
.sideBarHr {
	border: 1px solid #ff7361;
	margin-top: -10px;
}
.sideBarStatBox {
	margin: 0 auto;
	min-height: 60px;
	width: 90%;
	background: #ff7361;
	margin-bottom: 10px;
}
.sideBarStatBox h3{
	font-size: 20px;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 5px;
	box-sizing: border-box;
	color: #fff;
}
.sideBarStatBox h3 i{
	margin-right: 10px;
}

.bfContent {
	height: 500px;
	width: 100%;
	margin: 0 auto; 
}
.tabsBgFixed {
	height: 450px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.tabsCustomCss li a {
	margin-top: 15px;
}
.nav-tabs {
	padding-bottom: 2px;
	box-sizing: border-box;	
	border-bottom: 2px solid #ff7361;
}
.nav-tabs .nav-link {
	background: transparent;
	border: none;
	color: #000;
	border-radius: 0px;
}
.nav-tabs .nav-link:hover {
	background: transparent;
	border: 1px solid #000;
	color: #000;
	border-radius: 0px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	background: #ff7361;
	border: 1px solid #000;
	color: #fff;
	border-radius: 0px;
}
.blogPost {
	height: 150px;
	width: 100%;
	margin-top: 15px;
	transition: 0.5s;
	background: #fff;
	box-shadow: 3px 3px #abb1ba;
}
.blogPost:hover{
	transform: scale(1.01);
}
.posterInfo{
	height: 150px;
	padding-top: 7px;
	box-sizing: border-box;
}


.pIimage {
	margin: 0 auto; 
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 1px solid #000;
}
.pIimage img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid #000;
}
.posterInfo h5 {
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
}

.postContent {
	height: 150px;
}

.postContent h3{
	font-size: 20px;
	color: #2f3239;
}
.postContent p{
	font-size: 15px;
	color: #848991;
}
.postContent ul {
	margin: 0;
	padding: 0;
	margin-left: 35px;
}
.postContent ul li {
	list-style: none;
	float: left;
	margin-right: 15px;
}
.postContent ul li span{
	font-size: 15px;
}
.postContent ul li span i{
	margin-right: 5px;
}

.footer{
	height: 50px;
	width: 100%;
	background: #2f3239;
}
.footerTxt h3{
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding-top: 15px;
	box-sizing: border-box;
}
@media(max-width: 480px) {


	.topnavLeft ul {
		margin-left: 55px;
	}
	.topnavRight ul {
		margin-left: 55px;
	}
	.logo img {
		height: 60px;
		width: 200px;
	}
	.navbar-expand-lg .navbar-nav{
		width: 100%;
	}
	.bannerTxt h1 {
		text-align: center;
		font-size: 25px;
		color: #28e2ff;
		margin-top: 70px;
	}
	.bannerTxt h1 span {
		font-weight: bold;
		line-height: 10px;
	}
	.bannerTxt p {
		text-align: center;
		font-size: 15px;
		color: #28e2ff;
		width: 100%;
		margin: 0 auto;
		margin-top: 30px;
	}



}


/*Login modal css */
@import url(http://fonts.googleapis.com/css?family=Roboto);

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/*Login Modal CSS Ends*/

.img-circle{
	height: 80px;
	width: 80px;
}

.img-circle img{
	height: 100%;
	width: 100%;
}