.mainContent {
	min-height: 300px;
	width: 100%;
	background: #b3d4ef;
	padding-top: 50px;
	padding-bottom: 50px;
}
.blogNforum, .sideBar {
	min-height: 300px;	
}
.sideBar h1 {
	font-size: 25px;
	color: #ff7361;
	padding: 15px;
	box-sizing: border-box;
	font-weight: bold;
}
.sideBarHr {
	border: 1px solid #ff7361;
	margin-top: -10px;
}
.sideBarStatBox {
	margin: 0 auto;
	min-height: 60px;
	width: 90%;
	background: #ff7361;
	margin-bottom: 10px;
}
.sideBarStatBox h3{
	font-size: 20px;
	text-align: center;
	padding-top: 17px;
	padding-bottom: 5px;
	box-sizing: border-box;
	color: #fff;
}
.sideBarStatBox h3 i{
	margin-right: 10px;
}

.bfContent {
	height: 500px;
	width: 100%;
	margin: 0 auto; 
}
.tabsBgFixed {
	height: 450px;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
.tabsCustomCss li a {
	margin-top: 15px;
}

.blogPost {
	height: 150px;
	width: 100%;
	margin-top: 15px;
	transition: 0.5s;
	background: #fff;
	box-shadow: 3px 3px #abb1ba;
}
.blogPost:hover{
	transform: scale(1.01);
}
.posterInfo{
	height: 150px;
	padding-top: 7px;
	box-sizing: border-box;
}


.pIimage {
	margin: 0 auto; 
	height: 90px;
	width: 90px;
	border-radius: 50%;
	border: 1px solid #000;
}
.pIimage img{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 1px solid #000;
}
.posterInfo h5 {
	text-align: center;
	font-size: 15px;
	margin-top: 5px;
}

.postContent {
	height: 150px;
}

.postContent h3{
	font-size: 20px;
	color: #2f3239;
}
.postContent p{
	font-size: 15px;
	color: #848991;
}
.postContent ul {
	margin: 0;
	padding: 0;
	margin-left: 35px;
}
.postContent ul li {
	list-style: none;
	float: left;
	margin-right: 15px;
}
.postContent ul li span{
	font-size: 15px;
}
.postContent ul li span i{
	margin-right: 5px;
}

.footer{
	height: 50px;
	width: 100%;
	background: #2f3239;
}
.footerTxt h3{
	text-align: center;
	color: #fff;
	font-size: 15px;
	padding-top: 15px;
	box-sizing: border-box;
}

@media(max-width: 480px) {

}

/*About page core css*/


 .paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}
.bgcolor-skyblue {
    background:#eaf0f9;
}
 
 .image-aboutus-banner {
    background: url("https://images.pexels.com/photos/556962/pexels-photo-556962.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding-top: 110px;
    padding-bottom:110px;
 }
 
  .image-aboutus-sm-banner {
    background: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url("https://images.pexels.com/photos/631008/pexels-photo-631008.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    padding-top: 30px;
    padding-bottom:30px;
 }
.lg-text {
    font-size:52px;
    font-weight: 600;
    text-transform: none;
    color:#fff;
}
.image-aboutus-para {
    color:#fff;
}

/************************* */
.plan {
    background: #f9f9f9;
    padding: 50px 30px;
    margin-bottom: 30px;
}
.plan-header h4 {
    padding-bottom: 8px;
    text-transform: uppercase;
    color: #333;
    font-weight: 600;
}
.plan-header {
    font-weight: 700;
}
.plan-header span {
        color: #fe4819;
        font-size: 40px;
}
.plan li {
    padding-bottom: 15px;
}
.plan ul {
    padding-left: 0;
    margin-bottom: 15px;
    list-style: none;
}
.plan-header p {
    padding-header: 12px;
    padding-bottom: 15px;
}

.col-md-3,.col-md-4 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}

.bg-pink {
    background:#f0f0f0;
}
.bg-blue {
    background:#d6d6d6;
    color:#000;
}
 .padding35 {
    padding: 35px 0 35px;
}


/* Feature-CSS */

.icon {
    color : #fff;
    padding:15px;
    background:#323232 ;
    font-size:50px;
    border-radius:90px;
    border:10px solid #323232 ;
    
}
.feature-box {
    text-align: center;
    padding: 20px;
    transition: .5s;
    margin-bottom: 30px;
    border: 1px solid #e8e8e8;
}
.feature-box:hover {
   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.feature-box h4 {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 15px;
}

/* Site Heading */
.site-heading h3{
    font-size : 40px;
    margin-bottom: 10px;
    font-weight: 600;
}
.border {
    background: #e8e8e8 ;
    height: 1px;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    float:left;
}

/* padding-margin */
.paddingTB60 {
    padding-top:60px;
    padding-bottom:60px;
}


/* Carousel banner */
/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color:#555;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
 
}
.carousel-caption {
    margin-bottom:30px;
}
.carousel-caption h1 {
    margin-bottom:15px;
    font-size:42px;
    font-weight:700px;
}
.carousel-caption p {
    margin-bottom:20px;
    font-size:16px;
    font-weight:400px;
}

/* Footer */

/* Social Icons */

.social-icons{
    
    margin: 0;
    padding: 0;
    font-size : 10px;
}

.social {
    margin:7px 7px 7px 0px;
    color:#b40028;
}


#social-fb:hover {
     color: #3B5998;
     transition:all .25s;
 }
 #social-tw:hover {
     color: #4099FF;
     transition:all .25s;
 }
 #social-gp:hover {
     color: #d34836;
     transition:all .25s;
 }
 #social-em:hover {
     color: #f39c12;
     transition:all .25s;
 }
 
 /* CTA CSS */
 .cta-padding35 {
    padding: 35px 0 35px;
    background-color: #b40028;
    color:#fff;
}
/* Buttons */
.site-btn {
    font-size: 14px;
    padding: 13px 30px;
    border-radius: 5px;
    border: 1px solid #b40028 ;
    min-width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    color: #b40028 ;
    background-color:transparent;
    transition: all .25s ease-in-out;
    margin: 10px 0px 10px 0px;
    
}
.site-btn:hover {
    background: #b40028 ;
    border: 1px solid #fff;
    font-weight:700px;
    
    
}

.askBtn{
	background: #FF7361;
}




/*post view page css*/
